<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Skrzynki.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <!-- Each window is scaled for the DPI of the screen it is on, and rescaled when it moves to a
         screen with another; the board sizes its cells from the window's DPI. This needs the
         Windows 10 entry in My Project\app.manifest. -->
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
    </System.Windows.Forms.ApplicationConfigurationSection>
    <!-- The defaults below mirror My Project\Settings.settings. -->
    <userSettings>
        <Skrzynki.My.MySettings>
            <setting name="Skin" serializeAs="String">
                <value>Original</value>
            </setting>
            <setting name="ClassicArrivedLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExtraDifficultArrivedLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClassicMoves" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtraDifficultMoves" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassicPushes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExtraDifficultPushes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LevelSet" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="BeginFromArrivedLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevelRestartingAuthorization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
        </Skrzynki.My.MySettings>
    </userSettings>
</configuration>
