<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="651451bb-f512-463e-0000-21bda41cd4b4" Name="Skrzynki" Language="0" Version="4.0.0.0" Manufacturer="Kamil J. Dudek" UpgradeCode="b5656756-ad0c-4a6d-9a17-62ee0c2a12c8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" />
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="Skrzynki">
          <Directory Id="LocalePL" Name="pl-PL" />
          <Directory Id="LocaleFR" Name="fr-FR" />
        </Directory>
			</Directory>
		</Directory>
  
		<DirectoryRef Id="INSTALLFOLDER">
            <Component Id="SkrzynkiExecutableAndConfig" Guid="651451bb-f512-463e-bb26-21bda41cd4b4">
                <RegistryValue Root='HKCU' Key='Software\Kamil J. Dudek\Skrzynki'
                               Name='INSTALLFOLDER'
                               Value='[INSTALLFOLDER]'
                               Type='string'
                               KeyPath='yes' />
                <File Id="skrzynki.exe" Source="..\bin\x64\Release\skrzynki.exe" KeyPath="no" Checksum="yes"/>
                <File Id="skrzynki.exe.config" Source="..\bin\x64\Release\skrzynki.exe.config" KeyPath="no" Checksum="yes"/>
                <RemoveFolder Id="INSTALLFOLDER" On="uninstall"/>
            </Component>
		</DirectoryRef>
    
		<DirectoryRef Id="LocalePL">
            <Component Id="Skrzynki.resources.dll.pl" Guid="651451bb-f512-463e-bb27-21bda41cd4b4">
                <RegistryValue Root='HKCU' Key='Software\Kamil J. Dudek\Skrzynki'
                               Name='LocalePL'
                               Value='[LocalePL]'
                               Type='string'
                               KeyPath='yes' />
                <File Id="Skrzynki.resources.dll.pl" Source="..\bin\x64\Release\pl-PL\Skrzynki.resources.dll" KeyPath="no" Checksum="yes"/>
             <RemoveFolder Id="LocalePL" On="uninstall"/>
            </Component>
		</DirectoryRef>
  
		<DirectoryRef Id="LocaleFR">
            <Component Id="Skrzynki.resources.dll.fr" Guid="651451bb-f512-463e-bb28-21bda41cd4b4">
                <RegistryValue Root='HKCU' Key='Software\Kamil J. Dudek\Skrzynki'
                               Name='LocaleFR'
                               Value='[LocaleFR]'
                               Type='string'
                               KeyPath='yes' />
                <File Id="Skrzynki.resources.dll.fr" Source="..\bin\x64\Release\fr-FR\Skrzynki.resources.dll" KeyPath="no" Checksum="yes"/>
             <RemoveFolder Id="LocaleFR" On="uninstall"/>
            </Component>
		</DirectoryRef>
    
    <DirectoryRef Id="ProgramMenuFolder">
        <Component Id="ApplicationShortcut" Guid="651451bb-f512-463e-bb99-21bda41cd4b4">
            <Shortcut Id="ApplicationStartMenuShortcut" 
                      Name="Skrzynki"
                      Description="My Application Description"
                      Target="[#skrzynki.exe]"
                      WorkingDirectory="INSTALLFOLDER"/>
            <RemoveFolder Id="CleanUpShortCut" Directory="ProgramMenuFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Kamil J. Dudek\Skrzynki" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
    </DirectoryRef>
      
    <Feature Id="SkrzynkiMain" Title="Skrzynki Executable" Level="1">
        <ComponentRef Id="SkrzynkiExecutableAndConfig" />
        <ComponentRef Id="Skrzynki.resources.dll.pl" />
        <ComponentRef Id="Skrzynki.resources.dll.fr" />
        <ComponentRef Id="ApplicationShortcut" />
    </Feature>
	</Product>
</Wix>
